.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#re{
  background-color: green;
  margin-left: 9px;
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Nav:hover{
  transform: skewY(15deg);
  transform: skewX(15deg);
  animation-delay: 100ms;
  text-decoration: none;
  font-size: 20px;
  transition-delay: 250ms;
}
.parentFlex{
display: flex;
}
.flex{
  border: 1px soldi black;
  border-radius: 12px 23px ;
  padding: 5px;
  position:sticky;
}
.flex1{
  font-family:cursive;
  font-size: larger;
  text-decoration: none;
  padding-top: 20px;
  color: rgb(87, 9, 9);
  display:block;
  word-wrap:inherit;
  margin: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* for flex components */
.flex:hover{
  transform:translateY(3px);
}
.flex1{
  border-radius: 10px;
  box-shadow: 20px 20px 20px black;
}